img {
  max-width: 100%;
  vertical-align: middle;
}

.trigger {
  display: none;
}

ul {
  list-style: none;
}

@media only screen and (min-width: 1024px) {
  .slider,
  .slider-wrapper {
    height: 480px;
  }

  .slide-caption {
    width: 65%;
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .slider,
  .slider-wrapper {
    height: 360px;
  }

  .slide-caption {
    width: 75%;
    font-size: 1.25rem;
  }
}

@media only screen and (min-width: 768px) {
  .slide-img {
    width: 100%;
    height: auto;
  }
}

.form {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 20rem;
}

vaadin-text-area,
vaadin-text-field,
vaadin-password-field {
  width: 100%;
}

.form-buttons {
  text-align: right;
}

.no-display {
  display: none;
}

.error {
  color: red;
  font-weight: bold;
}

.board-header {
  font-family: "Fredericka the Great", cursive;
}


